@page
@model Nexus.Samples.Broker.Pages.Account.CreatedModel

@{
    ViewBag.Title = Resources.AccountPages.AccountCreatedTabTitle;
}

<div class="page">
    <div class="page__content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-8">
                    <h1>@Resources.AccountPages.AccountCreatedTitle</h1>

                    <p>@Resources.AccountPages.AccountCreatedText1</p>
                </div>
            </div>
        </div>
    </div>
</div>