<div class="select select--payments select--form select--sm">
    <div class="select__payments">
        <a data-lang="nl,de,en" class="select__payment">
            <img src="/Images/Payments/ideal.png" alt="iDeal" />
        </a>

        <div data-lang="nl,fr,en" class="select__payment">
            <img src="/Images/Payments/bankcontact.png" alt="Bankcontact" />
        </div>

        <div data-lang="nl,it,en" class="select__payment">
            <img src="/Images/Payments/sofort.png" alt="Sofort" />
        </div>

        <div data-lang="nl,es,en" class="select__payment">
            <img src="/Images/Payments/sepa.png" alt="SEPA" />
        </div>

        <div data-lang="nl" class="select__payment">
            <img src="/Images/Payments/giropay.png" alt="Giropay" />
        </div>

        <div data-lang="de,en" class="select__payment">
            <img src="/Images/Payments/mybank.png" alt="MyBank" />
        </div>

        <div data-lang="de,en" class="select__payment">
            <img src="/Images/Payments/klarna.png" alt="Klarna" />
        </div>
    </div>
</div>