@page
@{
    ViewData["Title"] = "Contact";
}

<div class="page page--grey">
    <div class="intro">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="intro__content intro__content--sm">
                        <h1 class="intro__title">Contact</h1>

                        <div class="mb-2">
                            <strong class="d-block">Email:</strong>
                            <span><a href="mailto:support@quantoznexus.com">support@quantoznexus.com</a></span>
                        </div>

                        <div class="mb-5">
                            <strong class="d-block">Address:</strong>
                            <address>
                                <span>Digital Currency Services B.V.</span><br />
                                <span>Europalaan 100</span><br />
                                <span>3526 KS Europalaan 100</span><br />
                                <span>The Netherlands</span>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
